// app global css in SCSS form
a.router-link {
    color: black;
    text-decoration: none;
}
a.q-pa-md.row.items-start.q-gutter-md {
    display: inline-block;
    text-decoration: none;
}
.clear-r-link {
    text-decoration: none;
    color: #000;
}
